<style>
  .notFoundSection {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 3rem;
  }
</style>
<div class="notFoundSection">

  <h1>404 Not Found!</h1>
</div>