<div class="breadcrumbs-section">
  <div class="container-fluid">
    <ul>
      <li>
        <a href="/">HOME</a>
      </li>
      <li>{{ page.title }}</li>
    </ul>
  </div>
</div>

{% schema %}
  {
    "name": "Breadcrumbs Section",
    "settings": [],
    "presets": [
      {
        "name": "Breadcrumbs Section"
      }
    ]
  }
{% endschema %}