<div class="breadcrumbs-section">
  <div class="container-fluid">
    <ul>
      <li>
        <a href="/">HOME</a>
      </li>
      <li>{{ section.settings.title }}</li>
    </ul>
  </div>
</div>

{% schema %}
  {
    "name": "Breadcrumbs Section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Page Name"
      }
    ],
    "presets": [
      {
        "name": "Breadcrumbs Section"
      }
    ]
  }
{% endschema %}