<section class="features-section section-padding pt-0">
  <div class="container-fluid">
    <div class="row">
      {% for block in section.blocks %}
        <div class="col col-lg-4 col-md-6 col-12">
          <div class="features-img">
            <img
              src="{{ block.settings.background_image | image_url: width: 700 }}"
              width=""
              height=""
              alt="">
            <div class="features-content">
              <h2>{{ block.settings.hero_title }}</h2>
              <a href="{{ block.settings.hero_button_Link }}">{{ block.settings.hero_button_text }}</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Features Section",
    "settings": [],
    "blocks": [
      {
        "name": "Features",
        "type": "block",
        "settings": [
          {
            "type": "image_picker",
            "id": "background_image",
            "label": "Background Image"
          },
          {
            "type": "text",
            "id": "hero_title",
            "label": "Title",
            "default": "NEW ARRIVALS"
          },
          {
            "type": "text",
            "id": "hero_button_text",
            "label": "Button Text",
            "default": "SHOP THE LATEST"
          },
          {
            "type": "url",
            "id": "hero_button_Link",
            "label": "Button Link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Features Section",
        "blocks": [
          {
            "type": "block"
          }
        ]
      }
    ]
  }
{% endschema %}