<section class="hero-slider">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="slide-inner slide-bg-image" data-background="{{ 'slider2.jpeg' | asset_url }}">
          <div class="container-fluid">
            <div class="slide-content">
              <div data-swiper-parallax="300" class="slide-title">
                <h2>TX2 - VENICE</h2>
              </div>
              <div data-swiper-parallax="200" class="slide-title-top">
                <p>Blue Star Dust || 50 Pieces available</p>
              </div>
              <div class="clearfix"></div>
              <div data-swiper-parallax="500" class="slide-btns">
                <a href="collection.html" class="theme-btn">SHOP NOW</a>
              </div>
            </div>
          </div>
        </div>
      <!-- end slide-inner -->
      </div>
      <!-- end swiper-slide -->

      <div class="swiper-slide">
        <div class="slide-inner slide-bg-image" data-background="{{ 'slider2.jpeg' | asset_url }}">
          <!-- <div class="gradient-overlay"></div> -->
          <div class="container-fluid">
            <div class="slide-content">
              <div data-swiper-parallax="300" class="slide-title">
                <h2>TX2 - VENICE</h2>
              </div>
              <div data-swiper-parallax="200" class="slide-title-top">
                <p>Blue Star Dust || 50 Pieces available</p>
              </div>
              <div class="clearfix"></div>
              <div data-swiper-parallax="500" class="slide-btns">
                <a href="collection.html" class="theme-btn">SHOP NOW</a>
              </div>
            </div>
          </div>
        </div>
      <!-- end slide-inner -->
      </div>
      <!-- end swiper-slide -->
      <div class="swiper-slide">
        <div class="slide-inner slide-bg-image" data-background="{{ 'slider2.jpeg' | asset_url}}">
          <!-- <div class="gradient-overlay"></div> -->
          <div class="container-fluid">
            <div class="slide-content">
              <div data-swiper-parallax="300" class="slide-title">
                <h2>TX2 - VENICE</h2>
              </div>
              <div data-swiper-parallax="200" class="slide-title-top">
                <p>Blue Star Dust || 50 Pieces available</p>
              </div>
              <div class="clearfix"></div>
              <div data-swiper-parallax="500" class="slide-btns">
                <a href="collection.html" class="theme-btn">SHOP NOW</a>
              </div>
            </div>
          </div>
        </div>
      <!-- end slide-inner -->
      </div>
    <!-- end swiper-slide -->
    </div>
    <!-- end swiper-wrapper -->

    <!-- swipper controls -->
    <div class="swiper-pagination"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</section>