<section class="testimonial-section section-padding">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="section-title">
        <h2>{{ section.settings.section_title }}</h2>
      </div>
      <div class="testimonial-items testimonial-active owl-carousel">
        {% for block in section.blocks %}
          <div class="testimonial-item">
            <div class="testimonial-text">
              <div class="ratting-wrap">
                <ul class="ratting">
                  {% assign rating = block.settings.rating %}
                  {% for i in (1..rating) %}
                    <li>
                      <i class="fa fa-star"></i>
                    </li>
                  {% endfor %}
                </ul>
              </div>
              <h3>{{ block.settings.name }}
                <i class="fa fa-check-circle" aria-hidden="true"></i>
              </h3>
              <p>“{{ block.settings.description }}”</p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>


{% schema %}
  {
    "name": "Testimonial Section",
    "settings": [
      {
        "type": "text",
        "id": "section_title",
        "label": "Section Title",
        "default": "What our customers say about us"
      }
    ],
    "blocks": [
      {
        "name": "Add Testimonail",
        "type": "block",
        "settings": [
          {
            "type": "text",
            "id": "name",
            "label": "Name",
            "default": "Sarah M."
          },
          {
            "type": "text",
            "id": "description",
            "label": "Details",
            "default": "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text."
          },
          {
            "type": "range",
            "id": "rating",
            "label": "Rating",
            "min": 1,
            "max": 5,
            "step": 1,
            "default": 5
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Testimonial Section",
        "blocks": [
          {
            "type": "block"
          }
        ]
      }
    ]
  }
{% endschema %}